.narrow
  .form-login.form-admin-login
    .page-header
      %h1 Авторизация
    =form_tag admin_login_path do
      .form-group
        =label_tag :login, "Логин"
        =text_field :login, @user.try(:login), class: 'form-control'
      .form-group
        =label_tag :password, User.human_attribute_name(:password)
        =password_field_tag :password, nil, class: 'form-control'
      .form-actions
        =submit_tag 'Войти', class: 'btn btn-primary btn-md'
