.narrow
  =form_for '/admin/cities/new' do |f|
    .center-block
      %h2= 'Создание нового города'
    .form-group
      =f.label 'Название'
      =f.text_field :name, class: 'form-control'
    .form-actions
      =f.submit 'Сохранить', class: 'btn btn-primary btn-md'
