.narrow
  .form-login
    .page-header
      %h1 Авторизация
    =form_tag login_path do
      .form-group
        =label_tag :Login, "Логин/Почта"
        =text_field :Login, @user.try(:Login), class: 'form-control'
      .form-group
        =label_tag :password, User.human_attribute_name(:password)
        =password_field_tag :password, nil, class: 'form-control'
      .form-actions
        =submit_tag 'Войти', class: 'btn btn-primary btn-md'
        = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
        = link_to "Sign in with Vkontakte", user_omniauth_authorize_path(:vkontakte)
